{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<ul>
		{% for employee in employees %}
			{%  if employee.Name == 'Jane Doe' %}
				<li>
					{{employee.Name}},
					{{employee.Age}},
					{{employee.Email}},
					<img src="{{asset('img/Jane Doe.jpg')}}" alt="Jane Doe">
				</li>
			{% else %}
				<li>
					{{employee.Name}},
					{{employee.Age}},
					{{employee.Email}},
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	<p>
		<a href="{{ path('homepage')}}">Retour page accueil</a>
	</p>
	<p>
		<a href="{{path('name', {slug: 'Michel Bompardiole'})}}"></a>
	</p>

{% endblock %}
